<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archstone Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="logo">
                <h1>houseapp</h1>
            </div>

            <div class="footer-columns">
                <div class="column">
                    <h2>About houseapp</h2>
                    <ul>
                        <li><a href="#">Magazine</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Tel Sales: +254 788 431 125</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Legal</h2>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy and Cookies</a></li>

                    </ul>
                </div>
            </div>
            <div class="newsletter">
                <h2>Sign up to our newsletter</h2>
                <form>
                    <input type="email" placeholder="Your email address">
                    <button type="submit">Submit</button>
                    <div class="checkboxes">
                        <label><input type="checkbox"> I have read and agreed to the Privacy Policy.</label>
                    </div>
                </form>
            </div>
            <div class="footer-bottom">
                <div class="social-media">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    
                </div>
                <p>©houseapp 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>
