body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f3ef;
}

footer {
  background-color: #f5f3ef;
  color: #0c0b0b;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
  gap: 20px; /* Adjust the gap as needed */
}

.social-media a {
  color: #120f0f;
  font-size: 20px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #422602;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.social-media a:hover {
  color: #555;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin-right: 20px;
}

.column h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  color: #0a4b47;
  text-decoration: none;
}

.newsletter h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.newsletter input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

.newsletter .checkboxes {
  margin-top: 10px;
}

.footer-bottom {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
