<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Cards</title>
  <link  href="styles.css">
</head>
<body>
  <h1> for sale </h1>
  <div class="card-container">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1592595896551-12b371d546d5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D" alt="arch">
      <div class="card-content">
        <h4>ensuites</h4>
        <p>5 bedroom</p>
        <p>10,000 p/m</p>
        <p>runda</p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D" alt="arch">
      <div class="card-content">
        <h4>ensuites</h4>
        <p>5 bedroom</p>
        <p>10,000 p/m</p>
        <p>runda</p>
      </div>
      </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1613977257363-707ba9348227?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8" alt="arch">
      <div class="card-content">
        <h4>ensuites</h4>
        <p>5 bedroom</p>
        <p>10,000 p/m</p>
        <p>runda</p>
      </div>
      </div>
  </div>
</body>
</html>
