 <app-header></app-header>
 <app-carousel></app-carousel>
 <app-blog></app-blog>
 <app-buy></app-buy>
 <app-rent></app-rent>
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Advice Section</title>
     <link  href="styles.css">
 </head>
 <body>
     <div class="container">
         <div class="text-block">
             <h1>Need some advice?</h1>
             <p>We'll help you buy better, sell smarter and let with confidence.</p>
             <button>Get in touch</button>
             <p>Or call us on:</p>
             <p>+254 788 431 125</p>
             <p>+254 720 134 987</p>
         </div>
         <div class="image-block">
             <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8" alt="Interior Design">
         </div>
     </div>
 </body>
 </html>
 
 




<app-footer></app-footer>


