<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LN-CC Design</title>
    <link  href="styles.css">
</head>
<body>
    <div class="container">
        <div class="text-block">
            <h1>blog of the week</h1>
            <p>An independent estate agency specialising in design-led homes.</p>
            <p>More than 10 years' experience matchmaking discerning buyers and sellers, landlords and renters. Remarkable architecture. Homes designed to enhance the lives lived in them.</p>
            <button>Find out more</button>
        </div>
        <div class="image-block">
            <img src="https://media.istockphoto.com/id/187494521/photo/luxurious-home-located-in-kennebunkport-maine.jpg?s=612x612&w=0&k=20&c=Bz22e5PMgAqyqBpQrVwoEh4OfajwSupiI9yFkIS0T60=" alt="Interior Design">
        </div>
    </div>
</body>
</html>
