.card-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
}

.card {
  width: 30%; /* Adjust card width as needed */
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
  bottom: 0;
  left: 0;
}

.card-content h4 {
  font-size: 18px;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
}

.card-content p {
  margin: 2px 0;
  font-size: 14px;
  bottom: 0;
  left: 0;
}
